@charset "utf-8";

/* ==========================================
pc.css
========================================== */
@import url("/common/css/960.css");
@import url("/common/css/footer.css");
@import url("/common/css/globalnavi.css");

/* common
========================================== */
#skip{display:none;}

/* body
========================================== */
body{background-color:#f4f4f4;}

/* header
========================================== */
#global-header{position:fixed; margin-left:-50%; width:100%; top:0; left:50%; background-color:#f4f4f4; z-index:1000;}
.global-header-shadow{
	/*-webkit-box-shadow: 0px 0px 10px rgba(00, 00, 00, 0.2);
	-moz-box-shadow:    0px 0px 10px rgba(00, 00, 00, 0.2);
	box-shadow:         0px 0px 10px rgba(00, 00, 00, 0.2);*/
}
#accordion-menu{display:none;}

/* #main
========================================== */
section#main{margin-top:190px; margin-bottom:80px;}
section#main hr{margin:40px 0; height:18px; background:url(/common/images/page-artifacts/dividers/divider.png) no-repeat 0 0; width:100%;}
*:first-child+html section#main hr{display:list-item; list-style:url(/common/images/page-artifacts/dividers/divider.png) inside; filter:alpha(opacity=0); margin-left:-10px; width:0;} /* for IE7 */
section#main hr.vertical{margin:0 24px; height:284px; background:url(/common/images/page-artifacts/dividers/divider-v.png) no-repeat 0 0;}
*:first-child+html section#main hr.vertical{margin:0; padding:0 24px; display:list-item; list-style:url(/common/images/page-artifacts/dividers/divider-v.png) inside; filter:alpha(opacity=0);}
section#main article p{margin-bottom:1.4em;}

/* figures bottom shadow
========================================== */
.bottom-shadow{padding-bottom:40px; background: url(/common/images/page-artifacts/lab/460-image-shadow.png) no-repeat 0 bottom;}

/* slide figures
========================================== */
.slide-images{padding-bottom:58px; background: url(/common/images/banners/banner-shadow.png) no-repeat 0 bottom;}
section#main .slide-images + hr{margin-top:15px;}

/* global presence page figures
========================================== */
.presence article figure{padding:0 20px; background: url(/common/images/page-artifacts/global-presence/Full-460Shadow.png) no-repeat 0 0;}
.presence article figure.alpha,
.presence article figure.omega{margin-left:-20px; margin-bottom:35px; margin-top: 30px;}
.presence article .alpha,
.presence article .omega{margin-top: 30px;}

/* who we are page figures
========================================== */
.pillars {margin-top: 10px;margin-bottom: 10px;}
.pillars h3 {margin-bottom: 25px;}

/* Homepage figures
========================================== */
.hompage-figure {margin-top: 10px;}
.hompage-figure h2 {height: 70px;}
.hompage-figure figcaption {margin-top: 10px;}


/* full service mobility solutions
========================================== */
.solutions figcaption {position: relative; padding-left: 9%;}
.solutions figcaption p {margin-right: 0%; float: left; width: 20%; margin-left: 2%;}

/* contact us
========================================== */
#contact-map h3 {margin: 15px 0;}
#contact-map article{padding:15px 13px 10px; min-height: 530px;}
#contact-map article figure{overflow:hidden;}
#contact-map article figure a{display:block; height:290px; width:388px;}
#contact-map figure a:hover img{margin-left:-50%;}
#careers .right-line{padding-right: 30px; background:url(/common/images/page-artifacts/contact-us/job-center-div.png) no-repeat right 0;}
section#main #careers hr{background:url(/common/images/page-artifacts/contact-us/job-dot-line.png) repeat-x 0 0;}
#contact-map .map-box{background:url(/common/images/page-artifacts/contact-us/map-shadow.png) no-repeat 0 bottom;}
#contact-map .map-box article{background-color: #ffffff;}

/* about you page figures
========================================== */
section.about-you .prefix_1{padding-left: 30px;}
section.about-you .prefix_2{padding-left: 120px; margin-bottom:30px;}
section.about-you figure{margin:15px 20px;}
section.about-you figcaption{margin-top:15px;}

/* What we do figures
========================================== */
.we-do {text-align: center;}
.we-do img {width: 140px !important;max-height: 140px !important;min-width: 140px!important;margin: 15px 0;}


/* others
========================================== */



/* css hack
========================================== */

/* print css
========================================== */
@media print {
* html body{}
* html #global-navi{}
}
