{% if page.lang == 'zh' %}
<footer>
  <div class="container">
    <div class="row">
      <div class="innocellence">
        {% for menu in site.data.cn-sitemap.topnav %}
        <h6>{{menu.title}}</h6>
        <ul>
          {% for menuitem in menu.menuitems %}
            {% if menuitem.url contains 'blog' %}
            <li><a href="{{ menuitem.url }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
            {% else %}
            <li><a href="{{site.baseurl}}{{ menuitem.url | replace:'index.html','' | replace:'.html','' }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <div class="solutions">
        {% for menu in site.data.cn-sitemap.subnav %}
        <h6>{{menu.title}}</h6>
        <ul>
          {% for menuitem in menu.menuitems %}
            {% if menuitem.url contains 'blog' %}
            <li><a href="{{ menuitem.url }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
            {% else %}
            <li><a href="{{site.baseurl}}{{ menuitem.url | replace:'index.html','' }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <div class="social">
        {% for menu in site.data.cn-sitemap.social %}
        <h6>{{menu.title}}</h6>
        <ul>
          {% for menuitem in menu.menuitems %}
          <li><a href="{{ menuitem.external_url }}" target="_blank" title="{{ menuitem.title }}">{{ menuitem.icon }} {{ menuitem.title }}</a></li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <div class="legal">
        {% for menu in site.data.cn-sitemap.corporate %}
        <h6>{{menu.title}}</h6>
        <ul>
          {% for menuitem in menu.menuitems %}
          <li><a href="{{site.baseurl}}{{ menuitem.url }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
          {% endfor %}
          <li><a href="{{site.baseurl}}/sitemap/" title="Sitemap">站点地图</a></li>
          <li class="copy-text">Copyright &copy; 2015 <a href="{{site.baseurl}}/cn/index.html">InnoCellence&nbsp;Systems&nbsp;Pte.&nbsp;Ltd.</a></li>
          <li>最后更新: {{ site.time | date: "%b %-d, %Y"  }}</li>
        </ul>
        {% endfor %}
        </div>
    </div>
  </div>
</footer>
{% else %}
<footer>
  <div class="container">
    <div class="row">
      <div class="innocellence">
        {% for menu in site.data.en-sitemap.topnav %}
        <h6>{{menu.title}}</h6>
        <ul>
          {% for menuitem in menu.menuitems %}
            {% if menuitem.url contains 'blog' %}
            <li><a href="{{ menuitem.url }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
            {% else %}
            <li><a href="{{site.baseurl}}{{ menuitem.url | replace:'index.html','' }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <div class="solutions">
        {% for menu in site.data.en-sitemap.subnav %}
        <h6>{{menu.title}}</h6>
        <ul>
          {% for menuitem in menu.menuitems %}
          <li><a href="{{site.baseurl}}{{ menuitem.url }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <div class="social">
        {% for menu in site.data.en-sitemap.social %}
        <h6>{{menu.title}}</h6>
        <ul>
          {% for menuitem in menu.menuitems %}
          <li><a href="{{ menuitem.external_url }}" target="_blank" title="{{ menuitem.title }}">{{ menuitem.icon }} {{ menuitem.title }}</a></li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <div class="legal">
        {% for menu in site.data.en-sitemap.corporate %}
        <h6>{{menu.title}}</h6>
        <ul>
          {% for menuitem in menu.menuitems %}
          <li><a href="{{site.baseurl}}{{ menuitem.url }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
          {% endfor %}
          <li><a href="{{site.baseurl}}/sitemap/" title="Sitemap">Sitemap</a></li>
          <li class="copy-text">&copy; <a href="{{site.baseurl}}">InnoCellence&nbsp;Systems&nbsp;Pte.&nbsp;Ltd.</a> All&nbsp;rights&nbsp;reserved.</li>
          <li>Last Update: {{ site.time | date: "%b %-d, %Y"  }}</li>
        </ul>
        {% endfor %}
        </div>
    </div>
  </div>
</footer>
{% endif %}

<!-- Scripts -->
<script src="{{ site.baseurl }}/assets/js/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/scripts.js"></script>
{% if page.section == 'contact' %}
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/contact-form-validate.js"></script>
{% endif %}