{% if page.lang == 'zh' %}
<section id="capability-list">
  <div class="container">
    <h5 class="section-title">核心能力</h5>
    <div class="row">
      <div>
        <a href="{{site.baseurl}}/cn/capabilities/digital_consultation/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_DC.png"></a>
        <h6><a href="{{site.baseurl}}/cn/capabilities/digital_consultation/" title="Digital Consultation">数字化咨询</a></h6>
      </div>
      <div>
        <a href="{{site.baseurl}}/cn/capabilities/design_user_experience/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_UX.png"></a>
        <h6><a href="{{site.baseurl}}/cn/capabilities/design_user_experience/" title="Design &amp; User Experience">设计 &amp; 用户体验</a></h6>
      </div>
      <div>
        <a href="{{site.baseurl}}/cn/capabilities/rapid_prototyping/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_RP.png"></a>
        <h6><a href="{{site.baseurl}}/cn/capabilities/rapid_prototyping/" title="Rapid Prototyping">快速原型设计</a></h6>
      </div>
      <div>
        <a href="{{site.baseurl}}/cn/capabilities/mobile_solutions/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_MS.png"></a>
        <h6><a href="{{site.baseurl}}/cn/capabilities/mobile_solutions/" title="Mobile Solutions">移动解决方案</a></h6>
      </div>
      <div>
        <a href="{{site.baseurl}}/cn/capabilities/customer_insights_analytics/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_CI.png"></a>
        <h6><a href="{{site.baseurl}}/cn/capabilities/customer_insights_analytics/" title="Customer Insights &amp; Analytics">客户洞察 &amp; 分析</a></h6>
      </div>
      <div>
        <a href="{{site.baseurl}}/cn/capabilities/website_application_development/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_AP.png"></a>
        <h6><a href="{{site.baseurl}}/cn/capabilities/website_application_development/" title="Website &amp; Application Development">网站 &amp; 应用开发</a></h6>
      </div>
    </div>
  </div>
</section>
{% else %}
<section id="capability-list">
  <div class="container">
    <h5 class="section-title">Our Capabilities</h5>
    <div class="row">
      <div>
        <a href="{{site.baseurl}}/en/capabilities/digital_consultation/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_DC.png"></a>
        <h6><a href="{{site.baseurl}}/en/capabilities/digital_consultation/" title="Digital Consulting &amp; Content Creation">Digital Consulting &amp; Content Creation</a></h6>
      </div>
      <div>
        <a href="{{site.baseurl}}/en/capabilities/design_user_experience/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_UX.png"></a>
        <h6><a href="{{site.baseurl}}/en/capabilities/design_user_experience/" title="Creative Design &amp; User Experience">Creative Design &amp; User Experience</a></h6>
      </div>
      <div>
        <a href="{{site.baseurl}}/en/capabilities/rapid_prototyping/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_RP.png"></a>
        <h6><a href="{{site.baseurl}}/en/capabilities/rapid_prototyping/" title="Rapid Prototyping">Rapid Prototyping</a></h6>
      </div>
      <div>
        <a href="{{site.baseurl}}/en/capabilities/mobile_solutions/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_MS.png"></a>
        <h6><a href="{{site.baseurl}}/en/capabilities/mobile_solutions/" title="Mobile Solutions">Mobile Solutions</a></h6>
      </div>
      <div>
        <a href="{{site.baseurl}}/en/capabilities/customer_insights_analytics/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_CI.png"></a>
        <h6><a href="{{site.baseurl}}/en/capabilities/customer_insights_analytics/" title="Customer Insights &amp; Analytics">Customer Insights &amp; Analytics</a></h6>
      </div>
      <div>
        <a href="{{site.baseurl}}/en/capabilities/website_application_development/" class="img-filter">
        <img src="{{site.baseurl}}/assets/img/capabilities/capabilities_AP.png"></a>
        <h6><a href="{{site.baseurl}}/en/capabilities/website_application_development/" title="Website &amp; Application Development">Website &amp; Application Development</a></h6>
      </div>
    </div>
  </div>
</section>
{% endif %}