section.shoutout {
  max-width: 100%;
  
  .shoutout-link {
    @include clearfix;
    display: block;
    color: white;
    margin: auto;
    text-align: center;
    padding: 0.5em 0;
    background-color: $emerald;
    @include transition(all 0.3s ease-in-out);
    padding: 1.5em 0;
    border: none !important;
    
    &:hover,
    &:focus {
      background-color: $blue;
    }
    .shoutout-copy {
      text-align: center;
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 19px;
        font-weight: 200;
      }
    }
  }
}