{% if page.lang == 'zh' %}
<section class="hero">
  <div class="hero-inner">
    <div class="hero-text">
      <h1><span>致力于卓越的数字化创新</span></h1>
      <h2><span>通过创新，设计，开发提供帮助企业成功所需的数字化解决方案</span></h2>
    </div>
  </div>
  <a class="down-arrow" href="#usp"><div>More</div><img src="{{site.baseurl}}/assets/img/arrows/down-arrow.svg"></a>
    <video class="home_vid" width="1280" autoplay loop poster="{{site.baseurl}}/assets/img/hero.png">
    </video>
  <div class="home_img"></div>
</section>
{% else %}
<section class="hero">
  <div class="hero-inner">
    <div class="hero-text">
      <h1><span>Excellence in Digital Innovation</span></h1>
      <h2><span>We innovate, design and develop the digital solutions companies need to succeed</span></h2>
    </div>
  </div>
  <a class="down-arrow" href="#usp"><div>More</div><img src="{{site.baseurl}}/assets/img/arrows/down-arrow.svg"></a>
    <video class="home_vid" width="1280" autoplay loop poster="{{site.baseurl}}/assets/img/hero.png">
    </video>
  <div class="home_img"></div>
</section>
{% endif %}