{% if page.lang == 'zh' %}
<section id="usp">
  <div class="container">
  <div class="row">
    <div>
      <img src="{{site.baseurl}}/assets/img/home/home_global.png">
      <h4>布局全球</h4>
      <p>战略性的选址和布局，多样化的文化和团队，能够承担跨地域跨文化项目，并高效按时交付</p>
    </div>
    <div>
      <img src="{{site.baseurl}}/assets/img/home/home_integrated.png">
      <h4>资源整合</h4>
      <p>聚集行业内顶尖人才，丰富的项目经验，能够提供端到端的数字化服务，帮助企业获得成功</p>
    </div>
    <div>
      <img src="{{site.baseurl}}/assets/img/home/home_innovative.png">
      <h4>数字创新</h4>
      <p>对于数字技术孜孜不倦的热情追求，熟知如何提供富有创意，提升用户参与热情和用户友好度的产品</p>
    </div>
  </div>
  </div>
</section> 
{% else %}
<section id="usp">
  <div class="container">
  <div class="row">
    <div>
      <img src="{{site.baseurl}}/assets/img/home/home_global.png">
      <h4>We Are Globally Capable</h4>
      <p>Our strategic office locations and culturally diverse team of digital professionals enable us to handle global projects efficiently and effectively.</p>
    </div>
    <div>
      <img src="{{site.baseurl}}/assets/img/home/home_integrated.png">
      <h4>We Are Fully Integrated</h4>
      <p>We have the in-house talent to manage and deliver the end-to-end digital solutions your company needs to succeed.</p>
    </div>
    <div>
      <img src="{{site.baseurl}}/assets/img/home/home_innovative.png">
      <h4>We Are Digitally Innovative</h4>
      <p>We are passionate about digital technology and know what it takes to deliver an innovative, engaging, and user-friendly product.</p>
    </div>
  </div>
  </div>
</section>
{% endif %}