<section class="award">
  <div class="award-container container">
    {% if page.lang == 'zh' %}
      <div class="award-content">
        <p class="lead">英诺瑞新斩获礼来“2016年全球优质供应商大奖”</p>
        <p>英诺瑞新（InnoCellence）荣获全球顶尖制药公司礼来（NYSE：LLY）颁发的“2016年全球优质供应商”。该奖项旨在表彰对礼来全球业务领域做出杰出贡献的供应商，而英诺瑞新不仅是礼来优质供应商之一，更是被充分认可价值的合作伙伴。</p>
        <a href="{{site.baseurl}}/assets/press-release/InnoCellence-Prestigious-Award-2016.pdf" title="Lilly Global Supplier Award Press Release" target="_blank">点击获取详情</a>
      </div>
    {% else %}
      <div class="award-content">
        <p class="lead">InnoCellence Wins Prestigious 2016 Lilly Global Supplier Award</p>
        <p>InnoCellence has been selected as an award recipient for the 2016 Lilly Global Supplier Award by Eli Lilly and Company. The award acknowledges the business contributions made to Lilly by its suppliers, spanning across all global business areas, and recognizes InnoCellence as a valuable partner.</p>
        <a href="{{site.baseurl}}/assets/press-release/InnoCellence-Prestigious-Award-2016.pdf" title="Lilly Global Supplier Award Press Release" target="_blank">Read the press release here</a>
      </div>
    {% endif %}
      <div class="award-image">
        <img src="{{site.baseurl}}/assets/img/home/home_medal.png">
      </div>
  </div>
</section>
