<section class="subscribe">
  <div class="subscribe_message">
    <img src="{{ site.baseurl }}/blog/images/mailbox.png">
    <div class="intro">
      <h1 class="mw">Subscribe to Our Blog</h1>
      <p>Receive the latest news and blog updates from InnoCellence.</p>
    </div>
  </div>
  <form method="post" action="" class="subscribe-bar">
    <div class="form-group">
      <input class="subscribe-email" type="email" name="email">
      <a class="btn" href="{{ site.baseurl }}/blog/subscribe.html">Subscribe</a>
    </div>
    <p class="form_error centered">Error Message</p>
  </form>
</section>